.crud {
    margin: 50px;
    min-width: 800px;
}

.crud > h1 {
    margin-bottom: 40px;
}

.crud__table {
    border-collapse: collapse;
    width: 100%;
}

.crud__table td, .crud__table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.crud__table tr:nth-child(even){background-color: #f2f2f2;}

.crud__table th {
    padding-top: 12px;
    padding-bottom: 12px;
    /* text-align: left; */
    /* background-color: #04AA6D; */
    /* color: white; */
}

.crud__tableBody {
    text-align: center;
}

.crud__buttonSave {
    /* width: 100px; */
    font-size: 15px;
    margin: 50px 0;
    padding: 10px 15px;
    border-radius: 6px;
    border: 1px solid #444;
    cursor: pointer;
}

.crud__buttonSave:hover {
    background-color: #ddd;
}

svg {
    width: 30px;
    height: 30px;
    cursor: pointer;
    padding: 0 10px;
}